<header>
  <div
    class="navbar sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-4 bg-white border-bottom shadow-sm"
  >
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a class="text-dark" href="/">Express Guestbook</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/entries">Entries</a>
      <a
        class="p-2 text-dark"
        href="https://github.com/safdarjamal/express-guestbook"
        >GitHub</a
      >
    </nav>
    <a class="btn btn-outline-primary" href="/entries/new"
      >Write in the Guestbook</a
    >
  </div>
</header>
