<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('header'); -%>

    <h2>Write a new entry</h2>
    <form method="post" role="form">
      <div class="form-group">
        <label for="title">Title</label
        ><input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Entry title"
          required
        />
      </div>
      <div class="form-group">
        <label for="content">Entry text</label>
        <textarea
          class="form-control"
          id="body"
          name="body"
          placeholder="Love Express! It’s a great tool for building websites."
          rows="3"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Post entry" class="btn btn-primary" />
      </div>
    </form>

    <%- include('footer'); -%>
  </body>
</html>
