<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <%- include('../header'); -%>

    <div class="container col-md-4">
      <div class="card shadow-sm rounded">
        <h5 class="card-header">Write a new entry</h5>
        <div class="card-body">
          <% if (error) { %>
          <div class="alert alert-danger" role="alert">
            <%- error.message -%>
          </div>
          <% } %>
          <form method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                required
              />
            </div>
            <div class="form-group">
              <label for="comment">Comment</label>
              <textarea
                name="comment"
                class="form-control"
                id="comment"
                rows="3"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('../footer'); -%>
  </body>
</html>
