<footer>
  <nav
    class="navbar fixed-bottom navbar-light bg-light justify-content-center border-top mt-4"
  >
    <span class="navbar-text">
      © 2020
      <a
        href="https://safdarjamal.github.io"
        target="_blank"
        rel="noopener noreferrer"
        >Safdar Jamal</a
      >
    </span>
  </nav>
</footer>
