<header class="sticky-top">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm mb-4"
  >
    <div class="container-fluid">
      <a class="navbar-brand h1" href="/">Express Guestbook</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="me-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/entries" class="nav-link">Entries</a>
          </li>
          <li class="nav-item">
            <a
              href="https://github.com/safdarjamal/express-guestbook"
              class="nav-link mr-3"
              target="_blank"
              rel="noreferrer"
              rel="noopener"
              >GitHub</a
            >
          </li>
          <li class="nav-item">
            <a href="/entries/new" class="btn btn-outline-primary" role="button"
              >Write in the Guestbook</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
