<header class="sticky-top">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm mb-4"
  >
    <a class="navbar-brand h1" href="/">Express Guestbook</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>
      <div class="navbar-nav">
        <a href="/" class="nav-item nav-link">Home</a>
        <a href="/entries" class="nav-item nav-link">Entries</a>
        <a
          href="https://github.com/safdarjamal/express-guestbook"
          class="nav-item nav-link mr-3"
          target="_blank"
          rel="noreferrer"
          rel="noopener"
          >GitHub</a
        >
        <a href="/entries/new" class="btn btn-outline-primary" role="button"
          >Write in the Guestbook</a
        >
      </div>
    </div>
  </nav>
</header>
